<body>
    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">

        <!-- op-header start -->
        <div class="op-header">
            <div class="section-header text-center">
                <h2 class="f2 c3">О компании</h2>
                <h1 class="f1 fw-7 cw">Продажа овощей оптом <br> по всему СНГ<br></h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="about-page">
                <div class="intro2 mb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-50">
                                <div class="intro-left">
                                    <div class="section-header">
                                        <h1 class="f1 fw-7 c4 pb-40">Вашему бизнесу нужны мытые овощи?</h1>
                                    </div>
                                    <p class="txt-normal">
                                        Компания «Нововита» специализируется на производстве и поставке овощей по Беларуси и России, регулярно изучает спрос своих покупателей и старается предложить популярные продукты высочайшего качества по приемлемым ценам. Среди большого ассортимента привычных овощей мы предлагаем уникальные продукты, которые не поставляют в Беларусь и Россию другие компании.
                                    </p> <a href="contact.html" class="thm-btn hvr-1 bg1 cw">контакты</a>
                                    <a href="https://www.youtube.com/watch?v=5Mko8G7ikWs" class="html5lightbox">
                                        <i class="fa fa-play"></i>
                                        Видео презентация
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="intro-right pos-r">
                                    <img src="../images/intro/04.jpg" alt="">
                                    <div class="intro-card bg3 c4 f1">
                                        <i class="nivio-garden"></i>
                                        <h2>10 лет лучшее качество</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- facts start -->
                <div class="facts-area text-center text-capitalize">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container mb-sm-50">
                                    <div class="single-fact">
                                        <span class="nivio-recycle"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Recycling</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="5493" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container mb-sm-50">
                                    <div class="single-fact">
                                        <span class="nivio-handshake"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Volunteer</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="1750" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container mb-xs-50">
                                    <div class="single-fact">
                                        <span class="nivio-growth"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Projects</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="2458" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container">
                                    <div class="single-fact">
                                        <span class="nivio-key"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Comunity</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='35' data-min="0" data-max="1670" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- facts end -->
                <div class="projects">
                    <div class="container">
                        <div class="section-header text-center">
                            <h2 class="f2 c1">current compaigns</h2>
                            <h1 class="f1 fw-7 c4">Шаги работы</h1>
                        </div>
                        <div class="project-area clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-offset-0 project-box">
                                    <div class="row">
                                        <div class="col-lg-6 pl-0 col-lg-push-6">
                                            <img src="../images/companies/01.jpg" alt="">
                                        </div>
                                        <div class="col-lg-6 col-lg-pull-6">
                                            <div class="project-card">
                                                <div class="section-header">
                                                    <h2 class="f2 c1 pt-40 pb-20">шаг 1</h2>
                                                    <h1 class="f1 fw-7 c4">Мы выращиваем урожай</h1>
                                                </div>
                                                <p class="fw-4 f1">Круглый год на наших плодородных полях произрастает морковь, картофель, петрушка, пастернак и свекла. В этих экологически чистых районах мы выращиваем более 40 000 тонн овощей в год. Овощи моются и упаковываются на собственной линии мойки и упаковки овощей.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-area clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-offset-0 project-box">
                                    <div class="row">
                                        <div class="col-lg-6 col-lg-6">
                                            <div class="row">
                                                <img src="../images/companies/01.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-6">
                                            <div class="project-card">
                                                <div class="section-header">
                                                    <h2 class="f2 c1 pt-40 pb-20">шаг 2</h2>
                                                    <h1 class="f1 fw-7 c4">Мы моем и упаковываем</h1>
                                                </div>
                                                <p class="fw-4 f1">Собранные овощи попадают в наш производственный цех в Беларуси, оснащенный передовым оборудованием по последнему слову техники. Здесь продукция моется, сушится и укладывается в специальную упаковку, поэтому вы можете сразу выкладывать овощи на прилавок. Овощи упаковываются в пакеты разной вместительности</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-area clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-offset-0 project-box">
                                    <div class="row">
                                        <div class="col-lg-6 pl-0 col-lg-push-6">
                                            <img src="../images/companies/01.jpg" alt="">
                                        </div>
                                        <div class="col-lg-6 col-lg-pull-6">
                                            <div class="project-card">
                                                <div class="section-header">
                                                    <h2 class="f2 c1 pt-60 pb-20">шаг 3</h2>
                                                    <h1 class="f1 fw-7 c4">Мы храним</h1>
                                                </div>
                                                <p class="fw-4 f1">В распоряжении нашей компании находится собственное овощехранилище, вместимостью на 25 000 тонн продукции.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-area clearfix">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-offset-0 project-box">
                                    <div class="row">
                                        <div class="col-lg-6 col-lg-6">
                                            <div class="row">
                                                <img src="../images/companies/01.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-6">
                                            <div class="project-card">
                                                <div class="section-header">
                                                    <h2 class="f2 c1 pt-60 pb-20">шаг 4</h2>
                                                    <h1 class="f1 fw-7 c4">Мы доставляем</h1>
                                                </div>
                                                <p class="fw-4 f1">В распоряжении Фермерского хозяйства «Новицких» находится собственный автомобильный парк, который мы активно используем для доставки продукции нашим партнерам. В автопарк входит 35 автомобилей, грузоподъемностью более 20 тонн.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimony mt-md pt-md">
                    <div class="container">
                        <div class="section-header text-center">
                            <h1 class="f1 fw-7 c4 mb-30">Наши сертификаты</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                                <div class="testimonial owl-carousel">
                                    <div class="pw-item f1 text-center">
                                        <img src="../images/sert1-724x1024.jpg" alt="">
                                    </div>
                                    <div class="pw-item f1 text-center">
                                        <img src="../images/sert2-724x1024.jpg" alt="">
                                    </div>
                                    <div class="pw-item f1 text-center">
                                        <img src="../images/sert3-724x1024.jpg" alt="">
                                    </div>
                                    <div class="pw-item f1 text-center" style="padding:30px;">
                                        <img src="../images/logo-haccp.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brands py-100">
                    <div class="container">
                        <div class="brand-carousel owl-carousel">
                            <div class="brandItem text-center">
                                <img src="../images/store/1.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/2.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/3.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/4.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/5.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/6.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/7.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/8.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/9.jpg" alt="">
                            </div>
                            <div class="brandItem text-center">
                                <img src="../images/store/10.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback_form  mb-100 text-center">
                <div class="section-header text-center pb-25">
                    <h2 class="f2 c3">есть вопросы?</h2>
                    <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                    <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                    <a href="tel:+375295425688"> +375 295425688</a>

                </div>
                <a href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
            </div>
        </div>
        <!-- page-content end -->
        <!-- footer start -->
    </div>
</body>
