<!DOCTYPE html>


<body>
    <div class="preloader"><div class="spinner"></div></div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- header start -->
        <div class="op-header">
            <div class="section-header text-center">
                <h2 class="f2 c3">about us</h2>
                <h1 class="f1 fw-7 cw">Get to know us</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="about-page">
                <div class="intro1 pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 mb-sm-50">
                                <div class="item">
                                    <div class="item-thumb">
                                        <a href="#">
                                            <img src="../images/intro/01.jpg" alt="intro thumb">
                                        </a>
                                    </div>
                                    <div class="item-txt text-center f1">
                                        <h2 class="fw-6">Support a Campaign</h2>
                                        <p class="fw-4">Quisque egestas justo nec hendrerit feugiat duide turpis porttitor sapien egestas.</p>
                                        <a href="#" class="rdm">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mb-sm-50">
                                <div class="item">
                                    <div class="item-thumb">
                                        <a href="#">
                                            <img src="../images/intro/02.jpg" alt="intro thumb">
                                        </a>
                                    </div>
                                    <div class="item-txt text-center f1">
                                        <h2 class="fw-6">Safe Enviorement</h2>
                                        <p class="fw-4">Quisque egestas justo nec hendrerit feugiat duide turpis porttitor sapien egestas.</p>
                                        <a href="#" class="rdm">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 col-xs-offset-0">
                                <div class="item">
                                    <div class="item-thumb">
                                        <a href="#">
                                            <img src="../images/intro/03.jpg" alt="intro thumb">
                                        </a>
                                    </div>
                                    <div class="item-txt text-center f1">
                                        <h2 class="fw-6">Become a Volunteer</h2>
                                        <p class="fw-4">Quisque egestas justo nec hendrerit feugiat duide turpis porttitor sapien egestas.</p>
                                        <a href="#" class="rdm">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="process">
                    <div class="container">
                        <div class="row pos-r">
                            <div class="col-lg-7 pr-0">
                                <div class="process-txt">
                                    <div class="section-header">
                                        <h2 class="f2 c1">way of working</h2>
                                        <h1 class="f1 fw-7 c4">Learn about how novio works</h1>
                                    </div>
                                    <p class="txt-normal">Lorem ipsum dolor sit amet nsectetur cing elit. Suspe ndisse suscipit sagittis leo sit met entum estibu dignissim posuere cubilia durae. Leo sit met entum cubilia crae onec fringilla justo quam sodales a vehicula ipsum.</p>
                                    <ul class="c4 f1 mt-55">
                                        <li class="fw-6 mb-35 clearfix">
                                            <i class="nivio-checked"></i>  <span>Protect and enhance environment for future generations.</span>
                                        </li>
                                        <li class="fw-6 clearfix">
                                            <i class="nivio-checked"></i>  <span>Healthy tropical ecosystems are imperative to maintaining a healthy planet</span>
                                        </li>
                                    </ul>
                                    <div class="process-img">
                                        <img src="../images/process/01.jpg" alt="">
                                        <div class="customers bg3 c4 f1">
                                            <h2 class="fw-4">8,000</h2>
                                            <span class="fw-6">Satisfied Customers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- facts start -->
                <div class="facts-area text-center text-capitalize">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container mb-sm-50">
                                    <div class="single-fact">
                                        <span class="nivio-recycle"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Recycling</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="5493" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container mb-sm-50">
                                    <div class="single-fact">
                                        <span class="nivio-handshake"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Volunteer</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="1750" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container mb-xs-50">
                                    <div class="single-fact">
                                        <span class="nivio-growth"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Projects</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='15' data-min="0" data-max="2458" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="fact-container">
                                    <div class="single-fact">
                                        <span class="nivio-key"></span>
                                        <h3 class="fact-title c3 f2 fw-3 text-capitalize">Comunity</h3>
                                        <div class="numscroller fact-num cw f1" data-slno='35' data-min="0" data-max="1670" data-delay='30' data-increment="5">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- facts end -->
                <div class="team">
                    <div class="container">
                        <div class="section-header text-center mb-30">
                            <h2 class="f2 c1">our team</h2>
                            <h1 class="f1 fw-7 c4">Meet our expert team</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 mt-30">
                                <div class="member pos-r">
                                    <img src="../images/team/01.jpg" alt="">
                                    <div class="member-info text-center f1">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="fw-7 c4">Jessica Brown</h2>
                                        <p class="fw-4">Volunteer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt-30">
                                <div class="member pos-r">
                                    <img src="../images/team/02.jpg" alt="">
                                    <div class="member-info text-center f1">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="fw-7 c4">Mike Hardson</h2>
                                        <p class="fw-4">Volunteer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt-30">
                                <div class="member pos-r">
                                    <img src="../images/team/03.jpg" alt="">
                                    <div class="member-info text-center f1">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="fw-7 c4">Shirley Amin</h2>
                                        <p class="fw-4">Volunteer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 mt-30">
                                <div class="member pos-r">
                                    <img src="../images/team/04.jpg" alt="">
                                    <div class="member-info text-center f1">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="c4 fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <h2 class="fw-7 c4">John Smith</h2>
                                        <p class="fw-4">Volunteer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimony mt-md pt-md">
                    <div class="container">
                        <div class="section-header text-center">
                            <h2 class="f2 c1">testimonials</h2>
                            <h1 class="f1 fw-7 c4">What customers says</h1>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                                <div class="testimonial owl-carousel">
                                    <div class="pw-item f1 text-center">
                                        <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Novio in my opinion deserves support for its projects.</p>
                                        <img src="../images/testimony/01.png" alt="">
                                        <p class="name fw-7 c1">john smith</p>
                                    </div>
                                    <div class="pw-item f1 text-center">
                                        <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Novio in my opinion deserves support for its projects.</p>
                                        <img src="../images/testimony/02.png" alt="">
                                        <p class="name fw-7 c1">allen stwart</p>
                                    </div>
                                    <div class="pw-item f1 text-center">
                                        <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch. Novio in my opinion deserves support for its projects.</p>
                                        <img src="../images/testimony/03.png" alt="">
                                        <p class="name fw-7 c1">maria dove</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brands">
                    <div class="container">
                        <div class="brand-carousel owl-carousel">
                            <div class="brandItem text-center">
                                <a href="#" class="brands-icon-envato"></a>
                            </div>
                            <div class="brandItem text-center">
                                <a href="#" class="brands-icon-codecanyon"></a>
                            </div>
                            <div class="brandItem text-center">
                                <a href="#" class="brands-icon-graphicriver"></a>
                            </div>
                            <div class="brandItem text-center">
                                <a href="#" class="brands-icon-themeforest"></a>
                            </div>
                            <div class="brandItem text-center">
                                <a href="#" class="brands-icon-photodune"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-content end -->
        <!-- footer start -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mb-xs-30">
                            <a href="#">
                                <img src="../images/logo/02.png" alt="">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline text-right">
                                <li>
                                    <a href="#"><i class="c4 fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 clearfix mb-sm-50">
                            <div class="fooler-col f1">
                                <h2 class="footer-title">conmpany</h2>
                                <ul>
                                    <li>
                                        <a href="#">about</a>
                                    </li>
                                    <li>
                                        <a href="#">our team</a>
                                    </li>
                                    <li>
                                        <a href="#">missions</a>
                                    </li>
                                    <li>
                                        <a href="#">our projects</a>
                                    </li>
                                    <li>
                                        <a href="#">contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">services</h2>
                                <ul>
                                    <li>
                                        <a href="#">Recycling</a>
                                    </li>
                                    <li>
                                        <a href="#">Ecosystem</a>
                                    </li>
                                    <li>
                                        <a href="#">Organic</a>
                                    </li>
                                    <li>
                                        <a href="#">Biology</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">links</h2>
                                <ul>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Clients</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 mb-sm-50">
                            <div class="footer-contact">
                                <h2 class="footer-title">Contact</h2>
                                <h3>
                                    855 Road Broklyn Street, 600
                                    New York, USA
                                </h3>
                                <ul>
                                    <li><i class="fa fa-envelope"></i> needhelp@novio.com</li>
                                    <li><i class="fa fa-phone-square"></i> 888 999 0000</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-contact f1">
                                <h2 class="footer-title">newslater</h2>
                                <form>
                                    <input type="email" placeholder="Email address">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom f1">
                <div class="container">
                    <p>© copyright 2018 by Layerdrops.com</p>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
    
</body>

