@model Novovita.by.Models.EmailMessage
<body>
    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- op-header start -->
        <div class="op-header background" style="background: url(../images/ARK_2399.JPG) no-repeat;background-size: cover;">
            <div class="section-header text-center">
                <h2 class="f2 c3">Не стесняйтесь связаться с нами.</h2>
                <h1 class="f1 fw-7 cw">Мы рады ответить на ваши вопросы!</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="contact-page f1">
                <div class="contact-middle">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-sm-12 pb-50">
                                    <div class="item">
                                        <h3 class="fw-7 c1" style="line-height: 1.5;"><i>Заполните форму и отправьте нам свой вопрос! Мы постараемся ответить как можно быстрее</i></h3>
                                    </div>
                                </div>
                                <div class="col-sm-12 pb-20">
                                    <div class="item">
                                        <h3 class="fw-7 c4">Юр. адерс</h3>
                                        <p class="txt-normal">
                                            225644 г.Лунинец, ул. Баженовой, 6A
                                            Брестская область, Республика Беларусь.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12 pb-20">
                                    <div class="item">
                                        <h3 class="fw-7 c4">Контакты</h3>
                                        <p class="txt-normal">
                                            <strong>Ваш персональный менеджер по продажам: </strong><br>
                                            <a href="tel:+375295425688">+375295425688</a>
                                            <br> needhelp@novio.com<br>
                                            <strong>Отдел снабжения:</strong><br> <a href="tel:+375-33-323-05-10">+375333230510</a> <br><a href="mailto:mto@novovita.by">mto@novovita.by</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">

                                    <form asp-action="Contacts" asp-controller="Home" asp-anti-forgery="true">
                                        <div class="row">
                                            <div class="col-md-6 mb-30">
                                                <input asp-for="Name" type="text" placeholder="Ваше имя *" required>
                                            </div>
                                            <div class="col-md-6 mb-30">
                                                <input asp-for="Email" type="email" placeholder="Email адрес *" required>
                                            </div>
                                            <div class="col-md-12 mb-30">
                                                <input asp-for="Phone" type="tel" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12" minlength="7" placeholder="Телефон" required>
                                            </div>
                                            <div class="col-md-12 mb-30">
                                                <textarea asp-for="Message" placeholder="Сообщение" required></textarea>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="thm-btn cw bg2">Отправить сообщение</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-bottom">
                    <div class="contact-map-area">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.013252804616!2d26.801463215797785!3d52.261304379766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4727f3abc7b3d16b%3A0xe940a834a0e20929!2z0YPQuy4g0JHQsNC20LXQvdC-0LLQvtC5IDYsINCb0YPQvdC40L3QtdGG!5e0!3m2!1sru!2sby!4v1553975599627!5m2!1sru!2sby" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="feedback_form mt-100 mb-100 text-center">
                <div class="section-header text-center pb-25">
                    <h2 class="f2 c3">есть вопросы?</h2>
                    <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                    <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                    <a href="tel:+375295425688"> +375 295425688</a>

                </div>
                <a href="#"  data-toggle="modal" data-target="#exampleModal" class="thm-btn hvr-2 bg4">Оставить заявку</a>
            </div>
        </div>
        <!-- page-content end -->
    </div>
    <!-- page-wrapper end -->

    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>

</body>

