<!DOCTYPE html>

<body>
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- header start -->
       
        <!-- header end -->
        <!-- op-header start -->
        <div class="op-header">
            <div class="section-header text-center">
                <h2 class="f2 c3">contact now</h2>
                <h1 class="f1 fw-7 cw">Get in touch with us</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="contact-page f1">
                <div class="contact-middle">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="col-sm-12">
                                    <div class="item">
                                        <h3 class="fw-7 c4">about us</h3>
                                        <p class="txt-normal">Morbi ut tellus ac leo molestie luctus nec vehicula sed justo onec tempor rhoncus volutpat ras lorem.</p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="item">
                                        <h3 class="fw-7 c4">Our Address</h3>
                                        <p class="txt-normal">855 Road Broklyn Street, 600 New York. United States of America P.O Box 0000</p>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="item">
                                        <h3 class="fw-7 c4">Contact Info</h3>
                                        <p class="txt-normal">
                                            Email: needhelp@novio.com<br> Phone: 888 999 0000<br> Fax: 888 999 0000
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="col-md-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 mb-30">
                                                <input type="text" placeholder="First name">
                                            </div>
                                            <div class="col-md-6 mb-30">
                                                <input type="email" placeholder="Email address">
                                            </div>
                                            <div class="col-md-6 mb-30">
                                                <input type="text" placeholder="Subject">
                                            </div>
                                            <div class="col-md-6 mb-30">
                                                <input type="text" placeholder="Website">
                                            </div>
                                            <div class="col-md-12 mb-30">
                                                <textarea placeholder="Write your message"></textarea>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="thm-btn cw bg2">send message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-bottom">
                    <div class="contact-map-area">
                        <!-- contact-us-map-area start here-->
                        <div class="google-map" id="map" data-map-lat="40.720307" data-map-lng="-74.048771" data-icon-path="../images/map-marker.png" data-map-title="Novio" data-map-zoom="12" data-markers='{
                             "marker-1" : [40.720307, -74.048771, "<h4>Novio, Ecology & Environmental Non-Profit Organization</h4><p>1430 Jersey City, USA</p>" ]
                             }'>
                        </div>
                        <!-- contact-us-map-area end here-->
                    </div>
                </div>
            </div>
        </div>
        <!-- page-content end -->
        <!-- footer start -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#">
                                <img src="../images/logo/02.png" alt="">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline text-right">
                                <li><a href="#"><i class="c4 fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="c4 fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="c4 fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="c4 fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 clearfix">
                            <div class="fooler-col f1">
                                <h2 class="footer-title">conmpany</h2>
                                <ul>
                                    <li>
                                        <a href="#">about</a>
                                    </li>
                                    <li>
                                        <a href="#">our team</a>
                                    </li>
                                    <li>
                                        <a href="#">missions</a>
                                    </li>
                                    <li>
                                        <a href="#">our projects</a>
                                    </li>
                                    <li>
                                        <a href="#">contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">services</h2>
                                <ul>
                                    <li><a href="#">Recycling</a></li>
                                    <li><a href="#">Ecosystem</a></li>
                                    <li><a href="#">Organic</a></li>
                                    <li><a href="#">Biology</a></li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">links</h2>
                                <ul>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Clients</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-contact">
                                <h2 class="footer-title">Contact</h2>
                                <h3>855 Road Broklyn Street, 600 New York, USA</h3>
                                <ul>
                                    <li><i class="fa fa-envelope"></i> needhelp@novio.com</li>
                                    <li><i class="fa fa-phone-square"></i> 888 999 0000</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-contact f1">
                                <h2 class="footer-title">newslater</h2>
                                <form>
                                    <input type="email" placeholder="Email address">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom f1">
                <div class="container">
                    <p>© copyright 2018 by Layerdrops.com</p>
                </div>
            </div>
        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->

    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>    
</body>

