<!DOCTYPE html>

<body>
    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">       
        <!-- op-header start -->
        <div class="op-header background" style="background: url(../images/ARK_2399.JPG) no-repeat;background-size: cover;">
            <div class="section-header text-center">
                <h2 class="f2 c3">Не стесняйтесь связаться с нами.</h2>
                <h1 class="f1 fw-7 cw">Мы рады ответить на ваши вопросы!</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="contact-page f1">
                <div class="contact-middle">
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-sm-12 pb-50">
                                    <div class="item">
                                        <h3 class="fw-7 c1" style="line-height: 1.5;"><i>Заполните форму и отправьте нам свой вопрос! Мы постараемся ответить как можно быстрее</i></h3>
                                    </div>
                                </div>
                                <div class="col-sm-12 pb-20">
                                    <div class="item">
                                        <h3 class="fw-7 c4">Юр. адерс</h3>
                                        <p class="txt-normal">
                                            225644 г.Лунинец, ул. Баженовой, 6A
                                            Брестская область, Республика Беларусь.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-12 pb-20">
                                    <div class="item">
                                        <h3 class="fw-7 c4">Контакты</h3>
                                        <p class="txt-normal">
                                            <strong>Ваш персональный менеджер по продажам: </strong><br>
                                            <a href="tel:+375295425688">+375295425688</a>
                                            <br> needhelp@novio.com<br>
                                            <strong>Отдел снабжения:</strong><br> <a href="tel:+375-33-323-05-10">+375333230510</a> <br><a href="mailto:mto@novovita.by">mto@novovita.by</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">

                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 mb-30">
                                                <input type="text" placeholder="Ваше имя *">
                                            </div>
                                            <div class="col-md-6 mb-30">
                                                <input type="email" placeholder="Email адрес *">
                                            </div>
                                            <div class="col-md-12 mb-30">
                                                <input type="text" placeholder="Телефон">
                                            </div>
                                            <div class="col-md-12 mb-30">
                                                <textarea placeholder="Сообщение"></textarea>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="thm-btn cw bg2">Отправить сообщение</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-bottom">
                    <div class="contact-map-area">
                        <!-- contact-us-map-area start here-->
                        <div class="google-map" id="map" data-map-lat="40.720307" data-map-lng="-74.048771" data-icon-path="../images/map-marker.png" data-map-title="Novio" data-map-zoom="12" data-markers='{
                             "marker-1" : [40.720307, -74.048771,"<h4>Novio, Ecology & Environmental Non-Profit Organization</h4><p>1430 Jersey City, USA</p>" ]
                             }'/>
                        </div>
                        <!-- contact-us-map-area end here-->
                    </div>
                </div>
            </div>
            <div class="feedback_form mt-100 mb-100 text-center">
                <div class="section-header text-center pb-25">
                    <h2 class="f2 c3">есть вопросы?</h2>
                    <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                    <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                    <a href="tel:+375295425688"> +375 295425688</a>

                </div>
                <a href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
            </div>
        </div>
        <!-- page-content end -->
        <!-- footer start -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#">
                                <img src="../images/logo/02.png" alt="">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline text-right">
                                <li><a href="#"><i class="c4 fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="c4 fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="c4 fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="c4 fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 clearfix">
                            <div class="fooler-col f1">
                                <h2 class="footer-title">conmpany</h2>
                                <ul>
                                    <li>
                                        <a href="#">about</a>
                                    </li>
                                    <li>
                                        <a href="#">our team</a>
                                    </li>
                                    <li>
                                        <a href="#">missions</a>
                                    </li>
                                    <li>
                                        <a href="#">our projects</a>
                                    </li>
                                    <li>
                                        <a href="#">contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">services</h2>
                                <ul>
                                    <li><a href="#">Recycling</a></li>
                                    <li><a href="#">Ecosystem</a></li>
                                    <li><a href="#">Organic</a></li>
                                    <li><a href="#">Biology</a></li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">links</h2>
                                <ul>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Clients</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-contact">
                                <h2 class="footer-title">Contact</h2>
                                <h3>855 Road Broklyn Street, 600 New York, USA</h3>
                                <ul>
                                    <li><i class="fa fa-envelope"></i> needhelp@novio.com</li>
                                    <li><i class="fa fa-phone-square"></i> 888 999 0000</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-contact f1">
                                <h2 class="footer-title">newslater</h2>
                                <form>
                                    <input type="email" placeholder="Email address">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom f1">
                <div class="container">
                    <p>© copyright 2018 by Layerdrops.com</p>
                </div>
            </div>
        </footer>
        <!-- footer end -->

    </div>
    <!-- page-wrapper end -->

    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>

</body>

