@{
    var categories = ViewData[nameof(Category)] as List<Category>;
    var catId = ViewData["categoryid"] as int?;
    var products = ViewData["Products"] as List<Product>;

}

<script>
    var idForUpdate = '#products-div';
    var categoryId= @(categories?.FirstOrDefault()?.Id);
    function updateProducts()
    {
        getProducts(idForUpdate, categoryId)
    }
    document.addEventListener("DOMContentLoaded", updateProducts);
</script>

<body>

    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- op-header start -->
        <div class="op-header background" style="background: url(../images/bg_catalog.jpg) no-repeat;background-size: cover;">
            <div class="section-header text-center">
                <h2 class="f2 c3">наш, родимый</h2>
                <h1 class="f1 fw-7 cw">Каталог продукции</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="project-content">
                <div class="container">
                    <div class="gallery-filter mb-30 f1">
                        <ul class="post-filter masonary text-center list-inline text-capitalize">
                            @foreach (var category in categories)
                            {
                                <li>
                                    <span class="fw-7" onclick="categoryId=@category.Id; updateProducts();">@category.Name</span>
                                </li>
                            }

                        </ul>

                    </div>
                    <!-- /.gallery-filter -->
                    <div id="products-div"></div>
                </div>
            </div>
            <div class="feedback_form  mb-100 text-center">
                <div class="section-header text-center pb-25">
                    <h2 class="f2 c3">есть вопросы?</h2>
                    <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                    <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                    <a href="tel:+375295425688"> +375 295425688</a>

                </div>
                <a data-toggle="modal" data-target="#exampleModal" href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
            </div>
        </div>
        <!-- page-content end -->

    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>
</body>