@model IEnumerable<Novovita.by.Models.Product>
@{
    var categories = ViewData[nameof(Category)] as List<Category>;
    var catId = ViewData["categoryid"] as int?;

}

<script>
    var idForUpdate = '#products-div';
    var categoryId= @(categories?.FirstOrDefault()?.Id);
    function updateProducts()
    {
        getProducts(idForUpdate, categoryId)
    }
    document.addEventListener("DOMContentLoaded", updateProducts);
</script>

<body>

    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- op-header start -->
        <div class="op-header background" style="background: url(../images/bg_catalog.jpg) no-repeat;background-size: cover;">
            <div class="section-header text-center">
                <h2 class="f2 c3">наш, родимый</h2>
                <h1 class="f1 fw-7 cw">Каталог продукции</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="project-content">
                <div class="container">
                    <div class="gallery-filter mb-30 f1">
                        <ul class="post-filter masonary text-center list-inline text-capitalize">
                            @foreach (var category in categories)
                            {
                                <li>
                                    <span class="fw-7" onclick="categoryId=@category.Id; updateProducts();">@category.Name</span>
                                </li>
                            }

                           </ul>
                        
                    </div>
                    <!-- /.gallery-filter -->


                    <div id="products-div"></div>



                    <div class="gallery-filter mt-70 mb-0 f1">
                        <ul class="post-filter masonary text-center list-inline text-capitalize">
                            @foreach (var category in categories)
                            {
                                <li>
                                    <span class="fw-7" onclick="categoryId=@category.Id; updateProducts();">@category.Name</span>
                                </li>
                            }

                        </ul>
                        <!-- /.post-filter -->
                    </div>
                </div>
            </div>
            <div class="feedback_form  mb-100 text-center">
                <div class="section-header text-center pb-25">
                    <h2 class="f2 c3">есть вопросы?</h2>
                    <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                    <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                    <a href="tel:+375295425688"> +375 295425688</a>

                </div>
                <a href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
            </div>
        </div>
        <!-- page-content end -->
        <!-- footer start -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mb-xs-30">
                            <a href="#">
                                <img src="../images/logo/02.png" alt="">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline text-right">
                                <li>
                                    <a href="#"><i class="c4 fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 clearfix mb-sm-50">
                            <div class="fooler-col f1">
                                <h2 class="footer-title">conmpany</h2>
                                <ul>
                                    <li>
                                        <a href="#">about</a>
                                    </li>
                                    <li>
                                        <a href="#">our team</a>
                                    </li>
                                    <li>
                                        <a href="#">missions</a>
                                    </li>
                                    <li>
                                        <a href="#">our projects</a>
                                    </li>
                                    <li>
                                        <a href="#">contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">services</h2>
                                <ul>
                                    <li>
                                        <a href="#">Recycling</a>
                                    </li>
                                    <li>
                                        <a href="#">Ecosystem</a>
                                    </li>
                                    <li>
                                        <a href="#">Organic</a>
                                    </li>
                                    <li>
                                        <a href="#">Biology</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">links</h2>
                                <ul>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Clients</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 mb-sm-50">
                            <div class="footer-contact">
                                <h2 class="footer-title">Contact</h2>
                                <h3>
                                    855 Road Broklyn Street, 600
                                    New York, USA
                                </h3>
                                <ul>
                                    <li><i class="fa fa-envelope"></i> needhelp@novio.com</li>
                                    <li><i class="fa fa-phone-square"></i> 888 999 0000</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-contact f1">
                                <h2 class="footer-title">newslater</h2>
                                <form>
                                    <input type="email" placeholder="Email address">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom f1">
                <div class="container">
                    <p>© copyright 2018 by Layerdrops.com</p>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>
</body>