
<body>
    <div class="preloader">
        <img src="~/images/preloader1.svg" style="width: 300px;height: 300px;top: 50%;position: absolute;left: 50%;margin-left: -150px;margin-top: -150px;">
    </div>
    <!-- page-wrapper start -->
    <div class="page-wrapper">
        <!-- op-header start -->
        <div class="op-header background">
            <div class="section-header text-center">
                <h2 class="f2 c3">новости и статьи</h2>
                <h1 class="f1 fw-7 cw">новости и статьи</h1>
            </div>
        </div>
        <!-- op-header end -->
        <!-- page-content start -->
        <div class="page-content">
            <div class="news-single">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="single-news-content">
                                <div class="card-thumb mb-25">
                                    <div class="date f1 c4">
                                        <p>Aug</p>
                                        <p>20</p>
                                    </div>
                                    <img src="../images/blog/11.jpg" alt="">
                                </div>
                                <div class="card-txt">

                                    <h2 class="card-title f1 fw-7">
                                        Морковный пирог
                                    </h2>
                                </div>
                                <p class="txt-normal">Quisque egestas justo nec hendrerit feugiat duide turpis porttitor sapien egestas sollicitudin nisibero in nunc pellentesque. Lorem Ipsum has been the dustrys standard dummy 1500s. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration some form by injected humour or randomised words which don't look slightly believable. Aliquam hendrerit a augue in ellentes que id erat quis sapien dign issim solli citud inmattis tortor sit amet sollicitudin. Aliquam enim enim, pharetra in sodales at interdum sit amet dui. Nullam vulputate euismod urna non pharetra bhasellus blandit mattis ipsum ac laoreet lorem lacinia ligula.</p>
                                <p class="txt-normal pt-35 pb-55">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text the lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary making this the first true generator on the Internet It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                <div class="news-footer pb-55">
                                    <div class="share-news">
                                        <ul class="list-inline text-right">
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clr"></div>

                                </div>
                                <div class="blog-post owl-carousel pb-50">
                                    <div class="col-md-4">
                                        <div class="blog-card">
                                            <a href="single-news.html">
                                                <img src="../images/blog/01.jpg" alt="">
                                            </a>
                                            <div class="blog-text">
                                                <div class="date f1 bg3">
                                                    <p class="fw-6">Aug</p>
                                                    <p class="fw-7">20</p>
                                                </div>
                                                <a href="single-news.html" class="title f1 fw-7 cw">
                                                    <span>Тестовая статья. Псс проверка </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="blog-card">
                                            <a href="single-news.html">
                                                <img src="../images/blog/02.jpg" alt="">
                                            </a>
                                            <div class="blog-text">
                                                <div class="date f1 bg3">
                                                    <p class="fw-6">Авг</p>
                                                    <p class="fw-7">09</p>
                                                </div>
                                                <a href="single-news.html" class="title f1 fw-7 cw">
                                                    <span>Тестовая статья. Псс проверка</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="blog-card">
                                            <a href="single-news.html">
                                                <img src="../images/blog/03.jpg" alt="">
                                            </a>
                                            <div class="blog-text">
                                                <div class="date f1 bg3">
                                                    <p class="fw-6">Авг</p>
                                                    <p class="fw-7">02</p>
                                                </div>
                                                <a href="single-news.html" class="title f1 fw-7 cw">
                                                    <span>Тестовая статья. Псс проверка</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="blog-card">
                                            <a href="single-news.html">
                                                <img src="../images/blog/04.jpg" alt="">
                                            </a>
                                            <div class="blog-text">
                                                <div class="date f1 bg3">
                                                    <p class="fw-6">Авг</p>
                                                    <p class="fw-7">30</p>
                                                </div>
                                                <a href="single-news.html" class="title f1 fw-7 cw">
                                                    <span>Тестовая статья. Псс проверка</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="blog-card">
                                            <a href="single-news.html">
                                                <img src="../images/blog/01.jpg" alt="">
                                            </a>
                                            <div class="blog-text">
                                                <div class="date f1 bg3">
                                                    <p class="fw-6">Авг</p>
                                                    <p class="fw-7">20</p>
                                                </div>
                                                <a href="single-news.html" class="title f1 fw-7 cw">
                                                    <span>Тестовая статья. Псс проверка</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="news-sidebar p-40 f1">
                                <h2>related posts</h2>
                                <div class="media-list">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="../images/blog/12.jpg" alt="Image">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="#">Eco System Responsible For Green Energy Generation</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="../images/blog/13.jpg" alt="Image">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="#">Save Forests and Animal Population in the World</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="../images/blog/14.jpg" alt="Image">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="#">Eco System Responsible For Green Energy Generation</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <h2>gallery</h2>
                                <div class="gallery-area clearfix">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="#">
                                                <img src="../images/gallery/01.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <a href="#">
                                                <img src="../images/gallery/02.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="col-xs-12">
                                            <a href="#">
                                                <img src="../images/gallery/03.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback_form mb-100 text-center">
                <div class="section-header text-center pb-25">
                    <h2 class="f2 c3">есть вопросы?</h2>
                    <h1 class="f1 fw-7 cw pb-20">Свяжитесь с нами</h1>
                    <a href="tel:+375333230407">+375333230407  </a> | <br class="hidden-md hidden-lg">
                    <a href="tel:+375295425688"> +375 295425688</a>

                </div>
                <a href="#" class="thm-btn hvr-2 bg4">Оставить заявку</a>
            </div>
        </div>
        <!-- page-content end -->
        <!-- footer start -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mb-xs-30">
                            <a href="#">
                                <img src="../images/logo/02.png" alt="">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-inline text-right">
                                <li>
                                    <a href="#"><i class="c4 fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="c4 fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 clearfix mb-sm-50">
                            <div class="fooler-col f1">
                                <h2 class="footer-title">conmpany</h2>
                                <ul>
                                    <li>
                                        <a href="#">about</a>
                                    </li>
                                    <li>
                                        <a href="#">our team</a>
                                    </li>
                                    <li>
                                        <a href="#">missions</a>
                                    </li>
                                    <li>
                                        <a href="#">our projects</a>
                                    </li>
                                    <li>
                                        <a href="#">contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">services</h2>
                                <ul>
                                    <li>
                                        <a href="#">Recycling</a>
                                    </li>
                                    <li>
                                        <a href="#">Ecosystem</a>
                                    </li>
                                    <li>
                                        <a href="#">Organic</a>
                                    </li>
                                    <li>
                                        <a href="#">Biology</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fooler-col f1">
                                <h2 class="footer-title">links</h2>
                                <ul>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">Support</a>
                                    </li>
                                    <li>
                                        <a href="#">Clients</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 mb-sm-50">
                            <div class="footer-contact">
                                <h2 class="footer-title">Contact</h2>
                                <h3>
                                    855 Road Broklyn Street, 600
                                    New York, USA
                                </h3>
                                <ul>
                                    <li><i class="fa fa-envelope"></i> needhelp@novio.com</li>
                                    <li><i class="fa fa-phone-square"></i> 888 999 0000</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-contact f1">
                                <h2 class="footer-title">newslater</h2>
                                <form>
                                    <input type="email" placeholder="Email address">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom f1">
                <div class="container">
                    <p>© copyright 2018 by Layerdrops.com</p>
                </div>
            </div>
        </footer>
        <!-- footer end -->
    </div>
    <!-- page-wrapper end -->
    <div class="back2Top bg1">
        <i class="fa fa-angle-up fa-2x cw"></i>
    </div>
    
</body>

</html>