<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Novovita.by</title>

    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    @* <title>Novio - Ecology & Environmental Non-Profit Organization</title>*@
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/images/favicon.png">
    <!-- ====== main style start ====== -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/effect.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <!-- ====== main style end ====== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
    <header class="header1">
        <nav class="navbar nav-solid mb-0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                        <span></span>  <span></span>  <span></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="../images/logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav f1 mainMenu text-capitalize navbar-left">

                        <li class="active">
                            <a asp-action="Index">Главная</a>

                        </li>
                        <li>
                            <a asp-action="About">Партнерам</a>
                        </li>
                        <li>
                            <a asp-action="About">О компании</a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="News">Блог</a>

                        </li>
                        <li>
                            <a asp-action="Contacts">Контакт</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav f1 mainMenu text-capitalize navbar-right">
                        <li style=""><a href="#" style="padding: 10px 15px !important;background: #83bb25 !important;display: inline-block;margin-top: -10px;color: white;border-radius: 5px;">Написать нам</a></li>
                        <li style="margin-top:-15px"><a href="tel:+375333230407" style="margin-bottom: 7px;">+375333230407</a><a href="tel:+375295425688">+375 295425688</a></li>
                        <li class="hidden-md" style="margin-top:-15px"><a style="margin-bottom: 7px;">market@novovita.by</a><a>export@novovita.by</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTPlX-43R1TpcQUyWjFgiSfL_BiGxslZU"></script>
    <script src="~/js/html5lightbox/html5lightbox.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/numscroller-1.0.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.enllax.min.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/magnific-popup.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
